# Folders to ignore
.vs/*
Compiled/*
bin/*
obj/*
packages/*
HalcyonGantryAngle_Standalone/obj/*
HalcyonGantryAngle_Standalone/Compiled/*.config
HalcyonGantryAngle_Standalone/Compiled/ConsoleOutput.txt

#Files to ignore
*.pdb
VMS.TPS.Common.Model.API.dll
VMS.TPS.Common.Model.API.xml
VMS.TPS.Common.Model.Types.dll
VMS.TPS.Common.Model.Types.xml
*.p7s